// 管理者のレストラン一覧表示ページ、一般ユーザーのコメント投稿ページで共通
// そのうち、一般ユーザーのコメント投稿ページは削除予定

.comment-page, .admin-page{
  // 共通------------------------------------//
  .top-box{
    width: $green-box-width;
    max-width: 700px;
    margin: $admin-page-margin;
    .header{
      color: $base-green;
      font-size: 2em;
      margin-bottom:20px;
      text-align: center;
    }
  }//end.top-box

  button{
    @include btn-reset;
    margin-top: 20px;
    width: 100%;

    .green-btn{
      @include green-btn;
    }
    .white-btn{
      @include white-btn;
    }  
  } //end.button

  // greenの四角の中（全ページ共通）--------------------//

  .rst-info{
    @include green-box;
    &__header{
      @include h2-green;
    }
    &__name{
      @include h3-green;
    }
    &__bottom{
      padding: 10px 10px 0 10px;
      display: flex;
    }
    .only-index-page{
      @include h2-green;
    }
  
  //green-boxの中が2カラムの場合（index, show）-------------
    .content{ 
      display: flex;
      &__image{
        margin: 0 5px 5px 0;
        width: 200px;
      }
      .budget{
        display: flex;
        margin:0 5px 5px 0;
        *{
          margin-left: 5px;
        }
      }
      &__header{
        @include h3-green;
      }
    }//end.content

  //green-boxの中が1カラムの場合（edit, new）-------------
    .single-content{ 
      .form{
        padding: $green-box-padding;
        .form-label{
          @include form-label;
        }
        .input-box, .input-area{
          @include input-box;
        }
        .input-area{
          height: 200px;
        }
        .select-box{
          @include select-box;
        }
        .button{
          margin-top:20px;
        }
      }
    }
  }
}
