//variables--------------------//
$green-border: 3px solid $base-green;
$green-dot-border: 2px dotted $base-green;
$green-box-width: 90%;
$green-box-padding: 20px;
$admin-page-margin: 30px auto;

// mixin----------------------//
// start-----------------//
@mixin column-layout {
  width: 100%;
  min-width: 500px;
}

@mixin vertical-line{
  &::before{
    content: "";
    display: inline-block;
    width:3px;
    height: 100%;
    border-right: 20px solid $base-green;
    position: relative;
    left: -50px;
    top: 0;
    bottom: 0;
  }
}

@mixin spot {
  display: inline-block;
  text-decoration: none;
  background: $base-yellow;
  color: $base-green;
  font-size: 2em;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px $base-green;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

@mixin block-left {
  width: 100px;
  height: 100%;
  float: left;
}

@mixin block-right{
  width: calc(100% - 150px);
  height: 100%;
  float: right;
  padding-right: 50px;
  display: flex;
  z-index: 1;
}

@mixin drop-shadow {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

@mixin font-awesome-base {
  font-family: "Font Awesome 5 Free";
  font-weight:900;
}

// admin -------------------//
@mixin green-box{
  border: $green-border;
  width: $green-box-width;
  max-width:700px;
  min-height: 300px;
  margin: $admin-page-margin;
  padding: $green-box-padding;
}

@mixin h2-green{
  font-size: 2em;
  color: $base-green;
  line-height: 1.5em;
  border-bottom: $green-dot-border;
  margin-bottom: 10px;
}
@mixin h3-green{
  font-size: 1.2em;
  color: $base-green;
  line-height: 1.2em;
  margin-bottom: 10px;
}

@mixin form-label{
  font-size: 1em;
  color: $base-green;
}

@mixin form-reset{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin btn-reset{
  @include form-reset;
  border:none;
  width:100%;
}
@mixin green-btn{
  @include btn-reset;
  border: solid 1px $base-green;
  color: $white;
  padding: 10px 20px;
  background-color: $base-green;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  &:hover{
    opacity: 0.8;
  }
}

@mixin input-box{
  @include form-reset;
  border: solid 1px $gray-lv2;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  color: $gray-lv4;
}

@mixin select-box{
  @include input-box;
  width: 300px;
  background: $white;
}
